---
layout: default
title: Research Projects
---

<div class="card-columns">
{#    {% comment %}#}
{#    Sort the projects by date, putting those without dates last#}
{#    {% endcomment %}#}
{#    {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}#}
{#    {% assign projects_by_date = projects_by_date | reverse %}#}
{#    {% for p in projects_by_date %}#}
{#        {% include project-card.html project=p %}#}
{#    {% endfor %}#}
       <iframe src="//player.bilibili.com/player.html?aid=视频ID&bvid=BV1oG41127Sx&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" style="width:100%;height:680px;"></iframe>

</div>
